.service__order {
    background-color: var(--effective-solutions-color);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
  }
  
  
  .service__order {
   background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
    url(../img/zadniyfon_hero.jpg);
    background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   max-width: 1600px;
   height: 600px;
   margin-left: auto;
   margin-right: auto;
  }
  
  
  
  .service__order__tex {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    width: 696px;
    margin: 0 auto 30px;
  }
  
  .service__order__button {
    border: transparent;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
  }