.methods {
  color: var(--header-color);
  padding-top: 95px;
  padding-bottom: 95px;
}

.methods__list {
  display: flex;
}

.methods__items {
  width: 270px;
  margin-right: 30px;
  &::before {
    content: '';
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    background-color: #f5f4fa;
    border-radius: 4px;
    height: 120px;
  }
  &:last-child {
    margin-right: 0px;
  }
  &:nth-child(1)::before {
    background-image: url(../img/antenna1.svg);
  }
  &:nth-child(2)::before {
    background-image: url(../img/clock2.svg);
  }
  &:nth-child(3)::before {
    background-image: url(../img/diagram3.svg);
  }
  &:nth-child(4)::before {
    background-image: url(../img/astronaut4.svg);
  }
}

.methods__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}
.methods__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
